.criminalList, .officerList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}
.criminals, .officers {
	margin: 20px;
	padding: 10px;
	flex-basis: 20%;
}
.criminals{
	border: 1px dotted rgb(252, 109, 14);

}
.officers{
	border: 1px dotted rgb(1, 34, 180);

}

.criminalName {
	font-weight: bold;
	margin: 0 0 8px 0;
}
.criminalInfo {
	margin: 0;
}	

