@import './associates.css';
@import './modal.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;900&display=swap');

.criminalList, .officerList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}
.criminals, .officers, .note{
	margin: 20px;
	padding: 10px;
	flex-basis: 20%;
}
.criminals{
	border: 1px dotted rgb(252, 109, 14);
}
.officers{
	border: 1px dotted rgb(1, 34, 180);
}
.note {
	border: 1px dotted orchid;
  }

.criminalName {
	font-weight: bold;
	margin: 0 0 8px 0;
}
.criminalInfo {
	margin: 0;
}	
.notesAside {
	display: flex;
	flex-direction: column;
  }
  
  .caseDataContainer {
	display: flex;
  }
