.criminalList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.criminals {
	border: 1px dotted rgba(128, 128, 128, 0.726);
	margin: 20px;
	padding: 15px;
	flex-basis: 20%;
}

.criminalName {
	font-weight: bold;
	margin: 0 0 8px 0;
}
.criminalInfo {
	margin: 0;
}